services:
  db:
    image: postgres:15
    container_name: coonspect-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pwd1234
      - POSTGRES_DB=coonspect
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d coonspect"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - coonspect-net

  redis:
    image: redis:8.2.2
    container_name: coonspect-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - coonspect-net

  # stt-mock:
  #   build: ./mock-stt/
  #   container_name: coonspect-stt-mock
  #   ports:
  #     - "8002:8000"
  #   environment:
  #     - PYTHONUNBUFFERED=1
  #   networks:
  #     - coonspect-net
  
  llm-service:
    build: ./llm-service/
    container_name: coonspect-llm
    ports:
      - "8003:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - PYTHONUNBUFFERED=1
      - LD_LIBRARY_PATH=/usr/local/lib/python3.10/dist-packages/nvidia/cudnn/lib/:$LD_LIBRARY_PATH
    networks:
      - coonspect-net

  backend:
    build: ./backend/
    container_name: coonspect-backend
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pwd1234
      - POSTGRES_DB=coonspect
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./backend:/app
    networks:
      - coonspect-net

  stt-service:
    build: ./stt-service/
    container_name: coonspect-stt
    ports:
      - "8001:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - PYTHONUNBUFFERED=1
      - LD_LIBRARY_PATH=/usr/local/lib/python3.10/dist-packages/nvidia/cudnn/lib/:$LD_LIBRARY_PATH
    networks:
      - coonspect-net

  frontend:
    build: ./frontend/
    container_name: coonspect-frontend
    ports:
      - "3000:80" 
    environment:
      - VITE_API_URL=http://backend:8000
      - VITE_API_BASE_URL=http://localhost:3000
      - VITE_WS_BASE_URL=ws://backend:3000
    depends_on:
      - backend
    networks:
      - coonspect-net

networks:
  coonspect-net:
    driver: bridge

volumes:
  postgres_data:
