:root {
  --color-bg-primary: #edf1f5;
  --color-bg-secondary: #F8F9FA;
  --color-bg-tertiary: #DEE2E6;
  --color-bg-accent: #FFFFFF; 

  --color-text-primary: #36393a;
  --color-text-secondary: #55565f;
  --color-text-purple: #AD89ED;
  --color-border: #DEE2E6;

  --color-drop-shadow-primary: #646cffaa;

  --color-success: #10b981; /* зеленый для успеха */
  --color-info: #3b82f6; /* синий для информации/загрузки */
  --color-warning: #f59e0b; /* оранжевый для предупреждений */
}

:root.dark {
  --color-bg-primary: #0B0C1C; 
  --color-bg-secondary: #16182D;
  --color-bg-tertiary: #1E1F3A;
  --color-bg-accent: #16182D; 

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #888;
  --color-text-purple: #AD89ED;
  --color-border: #2E3048;

  --color-drop-shadow-primary: #646cffaa;

  --color-success: #34d399;
  --color-info: #60a5fa;
  --color-warning: #fbbf24;

}